<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <appender name="stdout" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%red(%d{yyy-MM-dd HH:mm:ss.SSS}) %green(%p) %highlight(%t) %boldMagenta(%logger{36}:%L) - %msg%n</pattern>
            <charset class="java.nio.charset.Charset">UTF-8</charset>
        </encoder>
    </appender>

    <root level="${maven.logback.level}">
        <appender-ref ref="${maven.logback.appender.name}"/>
    </root>
</configuration>
