<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	   xmlns:tx="http://www.springframework.org/schema/tx"
	   xsi:schemaLocation="http://www.springframework.org/schema/beans
		http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/tx
		http://www.springframework.org/schema/tx/spring-tx.xsd">

	<!-- 应用配置 -->
	<bean id="applicationConfig" class="com.courage.platform.client.config.RpcAppConfig">
		<property name="appName" value="schedule-console"/>
	</bean>

	<bean id="regcenterConfig" class="com.courage.platform.client.config.RpcRegserverConfig">
		<property name="address" value="192.168.31.131:8848"/>
		<property name="namespace" value="41f0993c-adbb-4832-a0a7-3f01bc804c99"/>
	</bean>

	<bean id="regcenterService" class="com.courage.platform.client.rpc.regcenter.NacosRegcenterService">
		<constructor-arg index="0" ref="regcenterConfig"/>
	</bean>

	<!-- 注册控制器 -->
	<bean id="registryController" class="com.courage.platform.schedule.console.core.regcenter.RegistryController">
		<property name="regcenterService" ref="regcenterService" />
	</bean>

</beans>