<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:util="http://www.springframework.org/schema/util"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
		http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util.xsd">

    <util:constant id="callBackCmd"
                   static-field="com.courage.platform.schedule.rpc.protocol.CommandEnum.CALLBACK_SCHEDULE_RESULT_CMD"/>

    <util:constant id="registerCmd"
                   static-field="com.courage.platform.schedule.rpc.protocol.CommandEnum.REGISTER_CMD"/>

    <!-- 回调结果处理器  -->
    <bean id="callbackResultProcessor"
          class="com.courage.platform.schedule.server.rpc.processor.CallbackResultProcessor"></bean>

    <!-- 注册处理器 -->
    <bean id="registerProcessor"
          class="com.courage.platform.schedule.server.rpc.processor.RegisterProcessor"></bean>

    <!-- 调度rpc server -->
    <bean id="scheduleRpcServer" class="com.courage.platform.schedule.rpc.ScheduleRpcServer" init-method="start"
          destroy-method="shutdown">
        <property name="processorTable">
            <map>
                <entry key-ref="callBackCmd" value-ref="callbackResultProcessor"/>
                <entry key-ref="registerCmd" value-ref="registerProcessor"/>
            </map>
        </property>
    </bean>

</beans>
