<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:util="http://www.springframework.org/schema/util"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
		http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util.xsd">

    <util:constant id="callBackCmd"
                   static-field="com.courage.platform.schedule.rpc.protocol.CommandEnum.CALLBACK_SCHEDULE_RESULT_CMD"/>

    <util:constant id="triggerScheduleTask"
                   static-field="com.courage.platform.schedule.rpc.protocol.CommandEnum.TRIGGER_SCHEDULE_TASK_CMD"/>

    <!-- 触发调度处理器  -->
    <bean id="triggerScheduleProcessor"
          class="com.courage.platform.schedule.server.rpc.processor.TriggerScheduleProcessor">
    </bean>

    <!-- 回调结果处理器  -->
    <bean id="callbackResultProcessor"
          class="com.courage.platform.schedule.server.rpc.processor.CallbackScheduleResultProcessor"></bean>

    <!-- 调度rpc server -->
    <bean id="scheduleRpcServer" class="com.courage.platform.schedule.rpc.ScheduleRpcServer" init-method="start"
          destroy-method="shutdown">
        <property name="processorTable">
            <map>
                <entry key-ref="callBackCmd" value-ref="callbackResultProcessor"/>
                <entry key-ref="triggerScheduleTask" value-ref="triggerScheduleProcessor"/>
            </map>
        </property>
    </bean>

    <!-- 调度服务 -->
    <bean id="scheduleService" class="com.courage.platform.schedule.server.service.ScheduleService" init-method="start"
          destroy-method="shutdown">
    </bean>

</beans>
